"Stock","QTY","Price","Dividend"
"TSE:BCE","200","33.9","3.99"
"TSE:CNQ","740","46.8","2.25"
"TSE:ENB","3044","63.06","3.66"
"TSE:PSA","0","50.05",""
"TSE:TRP","300","68.39","3.52"
"TSE:SOBO","74","33.4","2.76"